<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/css/style.css" >
  </head>
  <body>
    <div class="container">
      <header class="masthead">
        <h2 class="masthead-title">
          <a href="{{ site.url }}/">{{ site.title }}</a>
        </h2>

        <h3 class="masthead-title">
          <small>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.url }}/call_for_papers.html">Call for Papers</a>
          </small>
          <!-- <span>|</span> -->

          <small>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.url }}/committees.html">Committees</a>
          </small>
          <!-- <span>|</span> -->
          
          <small>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.url }}/accepted_papers.html">Accepted Papers</a>
          </small>
          <!-- <span>|</span> -->
          
          <small>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.url }}/keynote.html">Keynote</a>
          </small>
          <!-- <span>|</span> -->
          
          <small>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.url }}/technical_programme.html">Program</a>
          </small>
          <!-- <span>|</span> -->

          <small>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.url }}/postproceedings.html">Post-Proceedings</a>
          </small>
          <!-- <span>|</span> -->
                    
          <small>
            &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.url }}/contact.html">Contact</a>
          </small>
          <!-- <span>|</span> -->
        </h3>
      </header>

      <div id="content">
        {{ content }}
      </div>
    </div><!-- .container -->
  </body>
</html>
